<!DOCTYPE html>
<html lang="ko-KR">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- google font down -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 자바스크립트 -->
{#    <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>#}

    {% if title %}
    <title>{{ title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
</head>
<body>
    {% include "layout_section/header.html" %}

      {% block section %}
      {% endblock %}

    {% include "layout_section/footer.html" %}
</body>
</html>