<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- google font down -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/layout_writing.css">

    <title>사랑방 | 글 작성하기</title>

    <script>
        function imgToBase64ByFileReader(url) {
            return new Promise((resolve, reject) => {
                let xhr = new XMLHttpRequest();
                xhr.onload = () => {
                    let reader = new FileReader();
                    reader.onloadend = function () {
                        resolve(reader.result);
                        document.getElementById('img-id').setAttribute('src', reader.result);
                    }
                    reader.readAsDataURL(xhr.response);
                }
                xhr.open('GET', url);
                xhr.responseType = 'blob';
                xhr.send();
            });
        }

        function loadFile(input) {
            let file = input.files[0]; // 선택된 파일 가져오기

            let newImage = document.createElement("img"); //새 이미지 추가
            //이미지 source 가져오기
            newImage.src = URL.createObjectURL(file);
            newImage.id = "img-id"
            newImage.style.width = "100%";
            newImage.style.height = "100%";
            newImage.style.objectFit = "cover";

            //이미지를 image-show div에 추가
            let container = document.getElementById('image-show');
            container.appendChild(newImage);

            //이미지를 서버에 저장하기 위해 base64 형태로 변환
            imgToBase64ByFileReader($('#img-id').attr("src"));
        }

        function writing() {
            $.ajax({
                type: "POST",
                url: "/api/writing",
                data: {
                    cafe_name: $('#cafeName').val(),
                    cafe_address: $('#cafeAddress').val(),
                    cafe_coment: $('#cafeComent').val(),
                    cafe_img: $('#img-id').attr("src")
                },
                success: function (response) { // 성공하면
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }
    </script>
</head>

<body>
<div class="wrapper">
    <form class="inputImg" method="post" enctype="multipart/form-data"> <!-- 이미지 파일 데이터에 알맞는 enctype 설정 -->
        <div class="addImage" id="image-show"> <!-- 이미지 띄울 공간 -->
        </div>
        <input type="file" id="file-id" name="file_path" accept="image/*" onchange="loadFile(this)">
    </form>
    <div class="cafeInfo">
        <select class="local-selector" name="local">
            <option value="">지역 선택</option>
            <option value="서울">서울</option>
            <option value="경기도">경기도</option>
            <option value="광주">광주</option>
            <option value="대전">대전</option>
            <option value="대구">대구</option>
            <option value="부산">부산</option>
            <option value="인천">인천</option>
            <option value="강원도">강원도</option>
            <option value="경상북도">경상북도</option>
            <option value="경상남도">경상남도</option>
            <option value="전라북도">전라북도</option>
            <option value="전라남도">전라남도</option>
            <option value="충청북도">충청북도</option>
            <option value="강원도">강원도</option>
        </select>
        <button class="save-btn" onclick="writing()" type="button">저장하기</button>
        <h1>카페 이름: <input class="inputCafeInfo" type="text" id="cafeName"></h1>
        <h1>카페 주소: <input class="inputCafeInfo" type="text" id="cafeAddress"></h1>
    </div>
    <div class="cafe-textarea-div">
        <textarea class="cafe-textarea" id="cafeComent"></textarea>
    </div>
</div>
</body>

</html>