{% extends "layout.html" %}

{% block title %}사랑방 | 글 목록{% endblock %}

{% block section %}
<div class="wrapper_postlist">
    <!-- 배너 이미지 -->
    <div class="bannerImgBox" style="text-align : center;">
        <img class="bannerImg" src="../static/img/banner.png">
    </div>

    <!-- 검색 창 -->
    <div class="searchBox">
        <input class="searchInput" type="text" id="search" placeholder="카페명을 검색하세요."/>
        <button class="searchBtn" type="button" onclick="post_filter()">검색</button>
    </div>

    <!-- 글 목록 나타낼 공간 -->
    <div class="card-list" id="card-list"></div>
</div>

<script src="{{ url_for('static', filename='js/layout_postlist.js') }}"></script>
{% endblock %}